@model List<EstudiodeCasoJosef.Data.Factura>

<h2>Historial de Facturas</h2>

<a asp-action="Agregar" class="btn btn-success mb-3">
    Nueva Factura
</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Cliente</th>
            <th>Fecha</th>
            <th>Total</th>
            <th>SubTotal</th>
            <th>Impuestos</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var factura in Model)
        {
            <tr>
                <td>@factura.Id</td>
                <td>@factura.NombreCliente</td>
                <td>@factura.Fecha</td>
                <td>₡ @factura.Total</td>
                <td>₡ @factura.Subtotal</td>
                <td>₡ @factura.Impuesto</td>
                <td>
                    <a asp-action="Descargar"
                       asp-route-id="@factura.Id"
                       class="btn btn-primary btn-sm">
                        Descargar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>